In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
%matplotlib inline

In [2]:
df = pd.read_csv('covid_19_data.csv')
df.head(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6,0,0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1,0,0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0,0,0
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26,0,0
6,7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2,0,0
7,8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1,0,0
8,9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4,0,0
9,10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1,0,0

In [3]:
df.columns

Index(['SNo', 'ObservationDate', 'Province/State', 'Country/Region',
       'Last Update', 'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

In [4]:
df.shape

(4935, 8)

In [5]:
df.isnull().sum()

SNo                   0
ObservationDate       0
Province/State     1815
Country/Region        0
Last Update           0
Confirmed             0
Deaths                0
Recovered             0
dtype: int64

In [6]:
df['Country/Region'].value_counts()

Mainland China                    1548
US                                1003
Australia                          225
Canada                             146
Thailand                            50
Taiwan                              50
France                              50
South Korea                         50
Japan                               50
Hong Kong                           49
Macau                               49
Vietnam                             49
Singapore                           49
Malaysia                            48
Nepal                               47
Cambodia                            45
Sri Lanka                           45
Germany                             44
UK                                  43
Finland                             43
United Arab Emirates                43
Philippines                         43
India                               42
Italy                               41
Sweden                              41
Russia                              41
Spain                               40
Belgium                             37
Others                              34
Egypt                               27
                                  ...
Malta                                5
Martinique                           5
French Guiana                        5
Moldova                              4
Paraguay                             4
Bulgaria                             4
Maldives                             4
Vatican City                         4
Bangladesh                           4
Albania                              3
Brunei                               3
Cyprus                               3
Panama                               2
Holy See                             2
Burkina Faso                         2
Ivory Coast                          2
occupied Palestinian territory       2
Mongolia                             2
 Azerbaijan                          1
Channel Islands                      1
('St. Martin',)                      1
Honduras                             1
North Ireland                        1
St. Martin                           1
Reunion                              1
Turkey                               1
Republic of Ireland                  1
Congo (Kinshasa)                     1
Jamaica                              1
Bolivia                              1
Name: Country/Region, Length: 128, dtype: int64

In [7]:
df.groupby('Country/Region')[['Confirmed', 'Deaths', 'Recovered']].sum()

                                Confirmed  Deaths  Recovered
Country/Region
 Azerbaijan                             1       0          0
('St. Martin',)                         2       0          0
Afghanistan                            33       0          0
Albania                                24       1          0
Algeria                               151       0          0
Andorra                                10       0          0
Argentina                              73       4          0
Armenia                                11       0          0
Australia                            1255      25        390
Austria                               939       0         10
Azerbaijan                             73       0          3
Bahrain                              1049       0         83
Bangladesh                             12       0          0
Belarus                                59       0          7
Belgium                              1420       3         24
Bhutan                                  6       0          0
Bolivia                                 2       0          0
Bosnia and Herzegovina                 25       0          0
Brazil                                159       0          0
Brunei                                 13       0          0
Bulgaria                               19       1          0
Burkina Faso                            3       0          0
Cambodia                               50       0         29
Cameroon                               10       0          0
Canada                                827       3        121
Channel Islands                         1       0          0
Chile                                  66       0          0
Colombia                               16       0          0
Congo (Kinshasa)                        1       0          0
Costa Rica                             38       0          0
...                                   ...     ...        ...
Reunion                                 1       0          0
Romania                               145       0         21
Russia                                165       0         62
Saint Barthelemy                       17       0          0
San Marino                            288      11          0
Saudi Arabia                           85       0          2
Senegal                                35       0          4
Serbia                                 21       0          0
Singapore                            3305       0       1576
Slovakia                               25       0          0
Slovenia                              136       0          0
South Africa                           29       0          0
South Korea                         80824     529       1496
Spain                                7619     155        349
Sri Lanka                              46       0         33
St. Martin                              2       0          0
Sweden                               1801       1          3
Switzerland                          2701      14         27
Taiwan                               1152      25        206
Thailand                             1554      11        760
Togo                                    6       0          0
Tunisia                                20       0          0
Turkey                                  1       0          0
UK                                   2375      26        255
US                                   5505     176        174
Ukraine                                 9       0          0
United Arab Emirates                  717       0        144
Vatican City                            4       0          0
Vietnam                               659       0        390
occupied Palestinian territory         25       0          0

[128 rows x 3 columns]

In [8]:
c = df.groupby('ObservationDate')[['Confirmed', 'Deaths', 'Recovered']].sum()
c = c.reset_index()
c

   ObservationDate  Confirmed  Deaths  Recovered
0       01/22/2020        555      17         28
1       01/23/2020        653      18         30
2       01/24/2020        941      26         36
3       01/25/2020       1438      42         39
4       01/26/2020       2118      56         52
5       01/27/2020       2927      82         61
6       01/28/2020       5578     131        107
7       01/29/2020       6165     133        126
8       01/30/2020       8235     171        143
9       01/31/2020       9925     213        222
10        02/01/20      12038     259        284
11        02/02/20      16787     362        472
12        02/03/20      19881     426        623
13        02/04/20      23892     492        852
14        02/05/20      27636     564       1124
15        02/06/20      30818     634       1487
16        02/07/20      34392     719       2011
17        02/08/20      37121     806       2616
18        02/09/20      40151     906       3244
19        02/10/20      42763    1013       3946
20        02/11/20      44803    1113       4683
21        02/12/20      45222    1118       5150
22      02/13/2020      60370    1371       6295
23      02/14/2020      66887    1523       8058
24      02/15/2020      69032    1666       9395
25      02/16/2020      71226    1770      10865
26      02/17/2020      73260    1868      12583
27      02/18/2020      75138    2007      14352
28      02/19/2020      75641    2122      16121
29      02/20/2020      76199    2247      18177
30      02/21/2020      76843    2251      18890
31      02/22/2020      78599    2458      22886
32      02/23/2020      78985    2469      23394
33      02/24/2020      79570    2629      25227
34      02/25/2020      80415    2708      27905
35      02/26/2020      81397    2770      30384
36      02/27/2020      82756    2814      33277
37      02/28/2020      84124    2872      36711
38      02/29/2020      86013    2941      39782
39        03/01/20      88371    2996      42716
40        03/02/20      90309    3085      45602
41        03/03/20      92844    3160      48229
42        03/04/20      95124    3254      51171
43        03/05/20      97886    3348      53797
44        03/06/20     101800    3460      55866
45        03/07/20     105836    3558      58359
46        03/08/20     109835    3803      60695
47        03/09/20     113582    3996      62512
48        03/10/20     118582    4262      64404
49        03/11/20     125865    4615      67003